@model crm.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="StudentFirstName" class="control-label"></label>
                <input asp-for="StudentFirstName" class="form-control" />
                <span asp-validation-for="StudentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentSurname" class="control-label"></label>
                <input asp-for="StudentSurname" class="form-control" />
                <span asp-validation-for="StudentSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPatronymic" class="control-label"></label>
                <input asp-for="StudentPatronymic" class="form-control" />
                <span asp-validation-for="StudentPatronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordBook" class="control-label"></label>
                <input asp-for="RecordBook" class="form-control" />
                <span asp-validation-for="RecordBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
