@model Exercise

@{
    ViewData["Title"] = "Create";
    TimeSpan[] tmp = { new TimeSpan(8, 20, 0), new TimeSpan(10, 00, 0), new TimeSpan(12, 05, 0), new TimeSpan(13, 50, 0), new TimeSpan(15, 35, 0) };
    
    // Создаем список SelectListItem на основе массива TimeSpan
    List<SelectListItem> timeSpansList = new List<SelectListItem>();
    foreach (var timeSpan in tmp)
    {
        timeSpansList.Add(new SelectListItem() { Text = timeSpan.ToString(), Value = timeSpan.ToString() });
    }

    // Создаем объект SelectList на основе списка SelectListItem
    SelectList timeSpansSelectList = new SelectList(timeSpansList, "Value", "Text");
    ViewBag.time = timeSpansSelectList;
}

<h1>Create</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectID" class="control-label"></label>
                <select asp-for="SubjectID" class ="form-control" asp-items="ViewBag.SubjectID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherID" class="control-label"></label>
                <select asp-for="TeacherID" class ="form-control" asp-items="ViewBag.TeacherID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomID" class="control-label"></label>
                <select asp-for="ClassroomID" class ="form-control" asp-items="ViewBag.ClassroomID"></select>
            </div>
            <div class="form-group">
                <label asp-for="GroupID" class="control-label"></label>
                <select asp-for="GroupID" class ="form-control" asp-items="ViewBag.GroupID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time" class="form-control" asp-items="ViewBag.time"></select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <input asp-for="DayOfWeek" class="form-control" />
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
