@model IEnumerable<Exercise>
@{
}
    <table>
        <thead>
            <tr>
                <th>Время</th>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
                <th>Суббота</th>
            </tr>
        </thead>
        <tr>
            <th>8:20 - 9:50</th>
        @if (Model != null)
        {
            @if (Model.ElementAt(0).TeacherID == null)
            {
                <td> lexa null</td>
            }
            else
            {
                <td> lexa ne null</td>
            }

        }
        else
        {
            <td>idi nahoi</td>
        }
        <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>10:00 - 11:35</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>12:05 - 13:40</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>13:50 - 15:25</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>15:35 - 17:10</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>