@{
    ViewData["Title"] = "Преподаватели";
}
<script>
    function teacherChanged(selectElement) {
        var selectedTeacherId = selectElement.value;
        $.ajax({
            type: "GET",
            url: "GetTeacherData",
            data: { teacherId: selectedTeacherId },
            success: function (data) {
                $('#lexa').html(data);
            },
            error: function () {
                alert("Ошибка при выполнении запроса");
            }
        });
    }
</script>

<div>
    @Html.DropDownList("Teacher", ViewBag.TeacherList as SelectList, "Выберите преподавателя", new { @class = "form-control", onchange = "teacherChanged(this)" })
</div>
<div id="lexa">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Понедельник</th>
                <th scope="col">Вторник</th>
                <th scope="col">Среда</th>
                <th scope="col">Четверг</th>
                <th scope="col">Пятница</th>
                <th scope="col">Суббота</th>
            </tr>
        </thead>
        <tr>
            <th scope="row">08:20 - 09:50</th>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
        </tr>
        <tr>
            <th scope="row">10:00 - 11:35</th>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
        </tr>
        <tr>
            <th scope="row">12:05 - 13:40</th>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
        </tr>
        <tr>
            <th scope="row">13:50 - 15:25</th>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
        </tr>
        <tr>
            <th scope="row">15:35 - 17:10</th>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
            <td><pre></pre></td>
        </tr>
    </table>
</div>

