@{
    ViewData["Title"] = "Махинатор";
}
<h1>@ViewData["Title"]</h1>
<body>
    <div>

    </div>
    <div>
        <img src="https://localhost:6660/sun.jpg" alt="Великий махинатор">
    </div>
</body>

